<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
     
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'home/navbar' %>
    <div class="container">  
      <%= yield %>
      <%= render 'home/new_question_form' %>
      <div class="well"><%= session[:current_user_email] || 'No email has been saved' %></div>
    </div>
  </body>
</html>
